{% extends '_layout.html' %}

{% block title %}VLC Console{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{STATIC_URL}}css/console.css' />
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{STATIC_URL}}js/console.js'></script>
{% endblock %}

{% block content %}
<div id='console'>
    <div class='console-output main-widget'>
        <ul id='console_output'>
            <li {% if status == 'error' %}class='error'{% endif %}>
                {% for line in output %}
                    {{ line }}<br />
                {% endfor %}
            </li>
        </ul>
    </div>
    <span>&gt;</span><input type='text' id='console_input' data-url='{% url tracks:console %}'/>
</div>
{% endblock %}

