{% extends '_layout.html' %}

{% block title %}VLC Console{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{STATIC_URL}}css/console.css' />
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{STATIC_URL}}js/console.js'></script>
{% endblock %}

{% block content %}
<div id='console'>
    <div class='console-output'>
        <ul id='console_output'>
            {% for line in output %}
                {{ line }}<br />
            {% endfor %}
        </ul>
    </div>
    <span>&gt;</span><input type='text' id='console_input' />
</div>
{% endblock %}

