/* line 1, ../sass/track-manager.scss */
.song-list, .song-list-summary {
  width: 49%;
}

/* line 4, ../sass/track-manager.scss */
.song-list {
  overflow-y: scroll;
  border: 1px solid #eee;
  border-radius: 5px;
  border-right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
/* line 13, ../sass/track-manager.scss */
.song-list > li {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: move;
}
/* line 18, ../sass/track-manager.scss */
.song-list > li h4, .song-list > li h5 {
  margin: 0;
  padding: 2px 0;
}
/* line 22, ../sass/track-manager.scss */
.song-list > li .duration {
  font-size: 90%;
  float: right;
}
/* line 26, ../sass/track-manager.scss */
.song-list > li .additional-info {
  font-weight: normal;
  float: left;
}
/* line 29, ../sass/track-manager.scss */
.song-list > li .additional-info span {
  font-weight: normal;
}
/* line 33, ../sass/track-manager.scss */
.song-list > li .minimenu-opener {
  float: right;
  font-size: 90%;
  color: #555;
  border-bottom: 1px dotted #555;
  text-decoration: none;
}
/* line 39, ../sass/track-manager.scss */
.song-list > li .minimenu-opener:after {
  float: right;
  display: block;
  height: 0;
  width: 0;
  position: relative;
  top: 4px;
  left: 3px;
  border: 4px solid #555;
  content: '';
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
/* line 53, ../sass/track-manager.scss */
.song-list > li .minimenu-opener.open:after {
  border-top-color: #555;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  top: 6px;
  left: 1px;
}
/* line 62, ../sass/track-manager.scss */
.song-list > li .minimenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  border-radius: 3px;
  background: white;
  padding: 2px;
  float: right;
  font-size: 90%;
  display: none;
}
/* line 73, ../sass/track-manager.scss */
.song-list > li .minimenu > li {
  float: left;
  margin-right: 5px;
  height: 16px;
  border-left: 1px solid #ccc;
  margin: 5px;
  padding: 2px;
  padding-left: 5px;
}
/* line 82, ../sass/track-manager.scss */
.song-list > li .minimenu > li:first-child {
  border-left: 0;
}
/* line 85, ../sass/track-manager.scss */
.song-list > li .minimenu > li.remove {
  color: red;
  cursor: pointer;
}
/* line 89, ../sass/track-manager.scss */
.song-list > li .minimenu > li > form {
  margin: 0;
}
/* line 91, ../sass/track-manager.scss */
.song-list > li .minimenu > li > form > select {
  height: 16px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 3px;
  font-size: 85%;
}

/* line 103, ../sass/track-manager.scss */
#playlist, .playlist-summary {
  float: left;
}

/* line 104, ../sass/track-manager.scss */
#tracklist, .tracklist-summary {
  float: right;
}

/* line 105, ../sass/track-manager.scss */
#tracklist .minimenu > .remove {
  display: none;
}

/* line 108, ../sass/track-manager.scss */
#bottom_menu {
  list-style-type: none;
  margin: 0;
  float: right;
}
/* line 112, ../sass/track-manager.scss */
#bottom_menu > li {
  float: left;
  margin-right: 10px;
}

/* line 118, ../sass/track-manager.scss */
.song-list-summary > h5 {
  float: left;
  margin: 0;
  font-size: 90%;
  padding: 5px 0;
}

/* line 124, ../sass/track-manager.scss */
#playlist_summary > .total-duration {
  float: right;
  font-size: 90%;
  padding: 5px 10px;
}
/* line 129, ../sass/track-manager.scss */
#playlist_summary > .total-duration > em {
  font-weight: bold;
  font-style: normal;
}
