#console {
    font-family: "Lucida Console", Monaco, monospace;
    > span {
        font-weight: bold;
        background: #225;
        display: block;
        float: left;
        padding: 3px 6px;
        color: white;
        border-radius: 50%;
    }
}
.console-output {
    overflow-y: scroll;
}
#console_output {
    list-style-type: none;
    padding: 0;
    > li:nth-child(odd) {
        background: #eee;
    }
    > li.error {
        color: red;
        font-weight: bold;
    }
}
#console_input {
    width: 95%;
    margin-left: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px;
    font-family: inherit;
}

